[submodule "lib/hump"]
	path = lib/hump
	url = git@github.com:wolf81/hump.git
[submodule "lib/lume"]
	path = lib/lume
	url = git@github.com:wolf81/lume.git
[submodule "lib/ndn"]
	path = lib/ndn
	url = https://github.com/wolf81/ndn.git
[submodule "lib/bresenham"]
	path = lib/bresenham
	url = https://github.com/wolf81/bresenham.lua.git
